body{
    background:#f4f7f9;
}

.card{
    border:none;
    border-radius:18px;
}

.card-body{
    padding:30px;
}

button{
    height:60px;
    font-size:18px;
    border-radius:12px !important;
}

.navbar-brand{
    font-weight:bold;
}

h2{
    font-size:42px;
    color:#198754;
}
